<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>出題系統</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="score.html">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">出題系統
                    <sup>學生</sup>
                </div>
                <!-- 左上角title文字 -->
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="btn nav-link" href="index.html">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span class="user_id"></span></a>
                <!-- 中間title文字 -->
            </li>
            <!-- Divider -->

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link go_back btn"  > 
                    <i class="fas fa-fw fa-tachometer-alt go_back"></i>
                    <span>返回上一頁</span></a>
                <!-- 中間title文字 -->
            </li>
            <li class="nav-item">
                <button class=" btn btn-user btn-block nav-link question_table_button" type='button'>
                    <i class="fas fa-fw fa-folder"></i>
                    <span>選擇章節</span></a>
                </button>
            </li>
            <!-- Divider -->

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search 中間上面的搜尋欄位-->
                    <!-- <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2
                        my-md-0 mw-100 navbar-search"> <div class="input-group"> <input type="text"
                        class="form-control bg-light border-0 small" placeholder="Search for..."
                        aria-label="Search" aria-describedby="basic-addon2"> <div
                        class="input-group-append"> <button class="btn btn-primary" type="button"> <i
                        class="fas fa-search fa-sm"></i> </button> </div> </div> </form> -->

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) 不知道在幹嘛-->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small user_id"></span>
                                <img class="img-profile rounded-circle" src="img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">

                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <div class="table-responsive question_table" width="100%"
                            style="padding-right: 0.75rem; padding-left: 0.75rem; display:none">
                            <!-- <div class="container "> -->
                    <div class="table-responsive ">
                            <table id="question_req" class="table table-bordered question_table" style='display:none'>
                            </table>
                            
                        </div>
                    </div>
                    <!-- Page Heading -->
                    <!-- <h1 class="h3 mb-2 text-gray-800">學生出題頁面</h1> -->
                    <!-- <p class="mb-4">DataTables is a third party plugin that is used to generate
                        the demo table below. For more information about DataTables, please visit the <a
                        target="_blank" href="https://datatables.net">official DataTables
                        documentation</a>.</p> -->

                    <!-- DataTales Example -->
                    <!-- <div class="card shadow mb-4"> <div class="card-header py-3"> <h6
                        class="m-0 font-weight-bold text-primary">DataTables Example</h6> </div> <div
                        class="card-body"> <div class="table-responsive"> <table class="table
                        table-bordered" id="dataTable" width="100%" cellspacing="0"> <thead> <tr> {% for
                        i in labels %} <td>{{ i }}</td> {% endfor %} </tr> </thead> <tbody> {% for i in
                        content %} <tr> {% for j in i %} <td>{{ j }}</td> {% endfor %} </tr> {% endfor
                        %} </tbody> </table> </div> </div> </div> -->
                    <!-- 先宣告一個巨集 -->
                    <style>
                        .input1 {
                            width: 400px;
                        }

                        .input2 {
                            width: 400px;
                            height: 300px;
                        }
                    </style>
                    <div class="container" id="score" style="display: none;">
                        <div class="row">
                            <div class="col ">
                                <h1 class="offset-1">學生評題介面</h1>
                                <!-- <h2>Postgres Select Query</h2> -->
                                <iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>
                                <form method="post" action="/question_system/score_input" enctype="multipart/form-data"  target="dummyframe">
                                    <!-- <div class="row"><div class="col-1">SELECT</div></div> <div
                                        class="row"><div class="col-2 offset-1">*</div></div> <div class="row"><div
                                        class="col-1">FROM</div></div> <div class="row"><div class="col-2
                                        offset-1">alpaca_training</div></div> <div class="row"><div
                                        class="col-1">WHERE</div></div> -->

                                    <!-- <div class="row"><div class="col-1">選擇題</div></div> -->

                                    <div class="form-group row">
                                        <label for="category2" class="col-2 offset-1 col-form-label">選擇題目</label>
                                        <div class="col-3">
                                            <select name="category2" class="form-control input1" id="category2">
                                                <!-- <option value=0>選擇題</option> <option value=1>簡答題</option> -->
                                            </select>
                                            <!-- <input type="text" class="form-control" id="ans" name="ans"
                                                placeholder="答案"> <small class="form-text">答案</small> -->
                                        </div>
                                    </div>

                                    <div id="questions_list_main" class="col-sm-12  guidance_list offset-1"></div>
                                    <div class="container questions_list" id="questions_list_div">
                                        <div class="table-responsive questions_list">
                                            <table id="questions_list" class="table table-bordered questions_list td "
                                                cellspacing="0">
                                                <!-- <tr><th width=100>題目內容</th><td width=200>" + "hujigigwgiolwgioliolwegjiolwegjiolweg" + "</td></" +"tr> -->
                                                    
                                            </table>
                                                
                                            <!-- <img id="score_pic"  style="width: 200pt;  margin:auto;display:block;" /> -->


                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="comments" class="col-2 offset-1 col-form-label">文字評語</label>
                                        <div class="col-3">
                                            <input type="text" class="form-control input2 disable_class" id="comments" name="comments"
                                                placeholder="評語" required="required">
                                            <small class="form-text">評語 至少30字</small>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="hashtagA" class="col-2 offset-1 col-form-label">文字評語hashtagA</label>
                                        <div class="col-3">
                                            <input type="text" class="form-control input1 disable_class" id="hashtagA_score"
                                                name="hashtagA_score" placeholder="" required="required">
                                            <small class="form-text">請從文字評語中擷取重點</small>
                                        </div>

                                    </div>
                                    <div class="form-group row">
                                        <label for="hashtagB" class="col-2 offset-1 col-form-label">文字評語hashtagB</label>
                                        <div class="col-3">
                                            <input type="text" class="form-control input1 disable_class" id="hashtagB_score"
                                                name="hashtagB_score" placeholder="" required="required">
                                            <small class="form-text">請從文字評語中擷取重點</small>
                                        </div>

                                    </div>
                                    <div class="form-group row">
                                        <label for="hashtagC" class="col-2 offset-1 col-form-label">文字評語hashtagC</label>
                                        <div class="col-3">
                                            <input type="text" class="form-control input1 disable_class" id="hashtagC_score"
                                                name="hashtagC_score" placeholder="" required="required">
                                            <small class="form-text">請從文字評語中擷取重點</small>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="selectA" class="col-2 offset-1 col-form-label"
                                            id="radar1_label">雷達圖分數1</label>
                                        <div class="col-3">

                                            <select class="form-control radar input1 disable_class" name="radar1" id="radar1">
                                                <!-- <option value=""></option> -->
                                            </select>
                                            <small class="form-text">1 ~ 10分</small>
                                        </div>

                                    </div>

                                    <div class="form-group row selection">
                                        <label for="selectB" class="col-2 offset-1 col-form-label"
                                            id="radar2_label">雷達圖分數2</label>
                                        <div class="col-3">
                                            <select class="form-control radar input1 disable_class" name="radar2" id="radar2">
                                                <!-- <option value=""></option> -->
                                            </select>
                                            <small class="form-text">1 ~ 10分</small>
                                        </div>

                                    </div>
                                    <div class="form-group row selection">
                                        <label for="selectC" class="col-2 offset-1 col-form-label"
                                            id="radar3_label">雷達圖分數3</label>
                                        <div class="col-3">
                                            <select class="form-control radar input1 disable_class" name="radar3" id="radar3">
                                                <!-- <option value=""></option> -->
                                            </select>
                                            <small class="form-text">1 ~ 10分</small>
                                        </div>
                                    </div>
                                    <div class="form-group row selection">
                                        <label for="selectD" class="col-2 offset-1 col-form-label"
                                            id="radar4_label">雷達圖分數4</label>
                                        <div class="col-3">
                                            <select class="form-control radar input1 disable_class" name="radar4" id="radar4">
                                                <!-- <option value=""></option> -->
                                            </select>
                                            <small class="form-text">1 ~ 10分</small>
                                        </div>
                                    </div>
                                    <div class="form-group row selection">
                                        <label for="selectD" class="col-2 offset-1 col-form-label"
                                            id="radar5_label">雷達圖分數5</label>
                                        <div class="col-3">
                                            <select class="form-control radar input1 disable_class" name="radar5" id="radar5">
                                                <!-- <option value=""></option> -->
                                            </select>
                                            <small class="form-text">1 ~ 10分</small>
                                        </div>
                                    </div>

                                    <button type="submit" class="btn btn-primary col-2 offset-1 summut_question">送出</button>

                                </form>
                            </div>
                        </div>

                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- <script src="js/student_index.js"></script> -->

    <!-- Custom styles for this page -->
    <link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/demo/datatables-demo.js"></script>
    <script src="js/score.js"></script>
    <script src="js/index.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            // Use a regular for-loop
            for (let i = 1; i < 11; i++) {
                // console.log(156) Print the current element $("#ladar1").append( "<option
                // value=A>A</option>");
                $(".radar").append("<option value=" + i + ">" + i + "</option>")
                // <option value=""></option> console.log(htmlElements[i]);
            }
        });
    </script>

</body>

</html>